/* _____ Basic elements _____ */

::-webkit-input-placeholder {font-family: $raleway;color: #a7a7a7;font-size: 14px;font-weight: 600;}
::-moz-placeholder {font-family: $raleway;color: #a7a7a7;font-size: 14px;font-weight: 600;}
:-moz-placeholder {font-family: $raleway;color: #a7a7a7;font-size: 14px;font-weight: 600;}
:-ms-input-placeholder {font-family: $raleway;color: #a7a7a7;font-size: 14px;font-weight: 600;}


*, *:before, *:after {
	box-sizing: border-box;
}

.relative,
.container {
	position: relative;
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.center{text-align: center !important;}
.text-l{text-align: left !important;}
.text-r{text-align: right !important;}
.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.flow-hidden {overflow: hidden}
.none {
	display: none;
}

/* base */


body {
	margin: 0;
	position: relative; 
	-webkit-font-smoothing: antialiased;
	font-family: $helv;	
	font-weight: 300;
	overflow-x: hidden;
}

/* layout */


ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	padding: 0;
	margin: 0;
}




